#include <windows.h>
#include "kaynak.h"
KAYNAK_SIMGE ICON "eclipse.ico"
KAYNAK_ARKAPLAN RCDATA "arkaplan.png"
KAYNAK_REKLAM RCDATA "reklam-alanlari.txt"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "eclipse.manifest"
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041F04B0"
    BEGIN
      VALUE "CompanyName", "Aether"
      VALUE "FileDescription", "Eclipse - Aether web tarayicisi"
      VALUE "FileVersion", "1.1"
      VALUE "ProductName", "Eclipse (Aether 1.1 Nebula)"
      VALUE "ProductVersion", "1.1"
      VALUE "LegalCopyright", "Aether - GPL-3.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x41F, 1200
  END
END
